@model Market.Web.Models.ProductVM

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section Center{
<div>Congratulations your Product @Model.Title have been published </div>
    }

@section LogIn{

@Html.Partial("_Welcom")
}


@section Menu{
    @Html.Partial("_Menu")
}
